.header{
    display: flex;
    justify-content: space-between;
    background-color:aliceblue;
}

.logo{
    height: 100px;
    width: 100px;
}

.logo > img {
    padding: 5px;
    width: 90%;
    height: 90%;
}

.header-links > ul{
    display: flex;
}

ul > li {
    list-style: none;
    margin: 5px;

}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card-rest{
    width: 200px;
    padding: 5px;
    margin: 10px;
    background-color: lightcyan;
}

.card-rest:hover{
    border: 1px solid orange;
}

.card-rest > img{
    height: 50%;
    width: 100%;
}
